/* 
    Document   : estiloBase
    Created on : 05-jun-2014, 22:50:21
    Author     : Juan
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: arial;
    background-color: #009900;
}

#cabeceraLogin {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.cajaLogin {
    margin-left: auto;
    margin-right: auto;
    
    width: 30%;
    
    text-align: center;
    
    background-color: #ffffff;
    border: 1px solid black;

    /* Bordes redondeados */
    /* Para Firefox */
    -moz-border-radius: 15px 15px 15px 15px;
    /* Para Safari y Chrome */
    -webkit-border-radius: 15px 15px 15px 15px;
    /* Para Opera */
    border-radius: 15px 15px 15px 15px;
    
    font-weight: bold;
    
    padding: 10px;
}

div.cajaLogin input {
    margin: 5px;
}

#logoPagina {
    width: 80%;
    display: block;
}

#principal, #principal #menuOpciones, #principal td.opcion {
    border: none;
}

#principal #menuOpciones {
    vertical-align: top;
}

#principal td.opcion {
    text-align: center;
}

#principal td.opcion a, #principal td.opcion a:visited {
    border: 1px solid;
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#principal td.opcion a:hover {
    border-color: #ffffff;
    color: #336600;
    background: #99ff66;
}

#principal #contenido {
    width: 85%;
    
    background-color: #ffffff;
    border: 1px solid black;
    
    padding: 10px;
}

#principal #contenido table {
    border: none;
    border-collapse: collapse;
}

#principal #contenido table.tablaDatos td {
    border: solid #000000 1px;
    padding: 5px;
}

#principal #contenido table .noAsociado {
    font-weight: bold;
    color: red;
}

#principal #contenido table .siAsociado {
    color: #336600;
}